<!DOCTYPE html>
<html>
<head>
  <title>Ursatz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrap">
  <nav class="navbar navbar-light", style="background-color: #85A2B4">
    <div class="nav navbar-nav">
      <a class="nav-item nav-link active" href="/static_pages">Ursatz<span class="sr-only">(current)</span></a>
      <%= link_to 'Ursatz', static_pages_path, class: 'nav-item nav-link active' %>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link" href="#">About</a>
      <div class="nav navbar-nav pull-xs-right">
        <% if user_signed_in? %>
          <%= link_to 'My Profile', user_path(current_user), class: "nav-item nav-link" %>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "nav-item nav-link" %></a>
        <% else %>
          <%= link_to 'Sign In', new_user_session_path, class: "nav-item nav-link" %>
         <%= link_to 'Sign Up', new_user_registration_path, class: "nav-item nav-link" %>
        <% end %>
      </div>
    </div>
  </nav>
  
  <% if notice.present? %>
    <p class="alert alert-info"><%= notice %></p>
  <% end %>
  <% if alert.present? %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  
  <%= yield %>
  
</div>

<br class='clr' />

</div>
<div id="footer">
  <div class="container">
    <b>Footer Here</b>
    <br />
    <%= link_to 'Link', '#' %>
  </div>
</div>

</body>
</html>
