<!DOCTYPE html>
<html>
<head>
  <title>Ursatz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="body-content">
<div id="wrap">
  <nav class="navbar navbar-light", style="background: rgba(255,255,255, 0.9)">
    <div class="container">
      <div class="nav navbar-nav">
        <a class="nav-item nav-link active brand" href="/static_pages">Ursatz<span class="sr-only">(current)</span></a>
        <!--<%= link_to 'Ursatz', static_pages_path, class: 'nav-item nav-link active brand' %>-->
        <%= link_to 'Works', works_path, class: 'nav-item nav-link' %>
        <%= link_to 'Performances', performances_path, class: 'nav-item nav-link' %>
        <%= link_to 'Discover Composers/Performers', users_path, class: 'nav-item nav-link' %>
        <%= link_to 'About', static_pages_about_path, class: 'nav-item nav-link' %>
        <!--<a class="nav-item nav-link" href="#">About</a>-->
        <div class="nav navbar-nav pull-xs-right">
          <% if user_signed_in? %>
            <%= link_to 'My Profile', user_path(current_user), class: "nav-item nav-link" %>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "nav-item nav-link" %></a>
          <% else %>
            <%= link_to 'Sign In', new_user_session_path, class: "nav-item nav-link" %>
           <%= link_to 'Sign Up', new_user_registration_path, class: "nav-item nav-link" %>
          <% end %>
        </div>
      </div>
    </div>
  </nav>

  <% if notice.present? || flash[:info] %>
    <div class="alert alert-info alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <p class="text-xs-center"><%= notice || flash[:info] %></p>
    </div>
  <% end %>
  <% if alert.present? || flash[:warning] %>
    <div class="alert alert-warning alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <p class="text-xs-center"><%= alert || flash[:warning] %></p>
    </div>
  <% end %>
  <% if flash[:success] %>
    <div class="alert alert-success alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <p class="text-xs-center"><%= flash[:success] %></p>
    </div>
  <% end %>
  <% if flash[:danger] %>
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <p class="text-xs-center"><%= flash[:danger] %></p>
    </div>
  <% end %>
  
  <%= yield %>

</div>

<br class='clr' />

</div>
<div id="footer">
  <div class="container">
    <h6 style="font-family: 'Pacifico', cursive">Ursatz</h6>
    <br />
     <%= link_to 'About', static_pages_about_path %>
     <%= link_to 'Contact', '#' %>
     <p>&copy; Yowon Yoon 2016</p>
  </div>
</div>

</body>
</html>
